- content_for :title_header do
  %h1.logged-out-homepage
    Sell and Buy Sustainable Fashion Club

- content_for :footer_attribution do
  Images by
  =link_to "https://www.freepik.com/free-photo/attractive-stylish-smiling-woman-choosing-apparel-clothing-store_10686399.htm", target: '_blank' do
    marymarkevich,
  =link_to "https://www.freepik.com/free-photo/beautiful-female-with-happy-expression-looking-through-her-clothes-being-glad-choose-outfit-by-herself-glad-woman-looking-through-clothing-closet-having-positive-look-posing-fitting-room_9439036.htm", target: '_blank' do
    wayhomestudio,
  and
  =link_to "https://www.freepik.com/free-photo/close-up-hand-holding-smartphone_20825569.htm", target: '_blank' do
    Freepik
  on Freepik

- content_for :page_article_class do
  = "no-padding-bottom"
- content_for :page_wrapper_class do
  = "no-min-width"
- content_for :page_specific_css do
  /%link{:rel => "stylesheet", :href => "/assets/thirdparty/slick-slider/slick.css", :media => "print", :onload => "this.media='all'"}
  /%link{:rel => "stylesheet", :href => "/assets/thirdparty/slick-slider/slick-theme.css", :media => "print", :onload => "this.media='all'"}

  %link{:rel => "stylesheet", :type => "text/css", :href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}

  / temp
  :css
    span.ShopButton_background { background-color: #783676; }
    span.AddNewListingButton_background {background-color: #783676; }

- content_for :title do
  = "Welcome to NeverBeenWorn"
- content_for :meta_description do
  = "Never Worn It? Why Keep It? Declutter, re-sell, repurpose"

- content_for :extra_javascript do
  %script{:type => "text/javascript", :src => "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
  :javascript
    $(".tips-carousel").slick( {
      centerMode: true,
      centerPadding: '2px',
      variableWidth: true,
      dots: true
    });
    $(".carousel-hide").removeClass("carousel-hide");

.logged_out_homepage 

  .quick-guide-container#quick-guide
    .quick-guide
      .guide-columns
        .guide-column
          = link_to("/blog/the_wardrobe_challenge") do
            .guide-column-content
              %p.step-number
                Step 1
              -image_url = image_path("logged_out_homepage/holding-red-dress.jpg")
              =image_tag(image_url, class: 'step_img', alt: "A lady holds a red dress triumphantly having chosen to sell it because she never wears it.")
              %p.step-title
                Declutter your wardrobe
              %p.step-description
                If you have never worn it, why keep it?
          = link_to("/blog/the_wardrobe_challenge", :class => "hp-button hp-button-inverted guide-button") do
            How to delutter
        .guide-column
          = link_to("/blog/sustainability_the_right_choice") do
            .guide-column-content
              %p.step-number
                Step 2
              -image_url = image_path("logged_out_homepage/unboxing.jpg")
              =image_tag(image_url, class: 'step_img', alt: "A lady sits on a sofa opening a cardboard box. She is looking into the box and smiling.")
              %p.step-title
                Repurpose and resell
              %p.step-description
                Put it back out into the world for others to buy
          = link_to("/blog/sustainability_the_right_choice", :class => "hp-button hp-button-inverted guide-button") do
            Why Sustainability
        .guide-column
          = link_to("/s") do
            .guide-column-content
              %p.step-number
                Step 3
              -image_url = image_path("logged_out_homepage/capsule-wardrobe.jpg")
              =image_tag(image_url, class: 'step_img', alt: "A capsule wardrobe consisting of a few colourful pieces of clothing that could be worn in different combinations with each other.")
              %p.step-title
                Build a capsule wardrobe
              %p.step-description
                Buy what you need and live a simpler life
          = link_to("/s", :class => "hp-button hp-button-inverted guide-button") do
            Buy sustainable

  .sustainability-banner
    .caption
      %h2.banner-title
        Support
        %br
        Sustainable Fashion For&nbsp;Good
      %p.banner-text
        Declutter, Resell, Repurpose
        %br
        Put your Never Been Worn clothes back out into the world
      .button-container
        = link_to("/blog/sustainability_the_right_choice", :class => "hp-button hp-banner-button") do
          More about sustainability
    -image_url = image_path("logged_out_homepage/earth-heart-dark-background.jpg")
    =image_tag(image_url, class: 'intro-image', alt: "A simplistic landscape scene with rolling hills, trees and wind turbines drawn with childlike shapes.")

  .wardrobe-challenge-section
    .wardrobe-challenge-image
      .image-container
        -image_url = image_path("logged_out_homepage/looking-through-clothes.jpg")
        =image_tag(image_url, class: 'intro-image', alt: "A lady peeks through her messy clothes rail with a happy expression on her face, perhaps looking forward to a good decluttering session.")
    .caption
      .caption-container
        %h2.banner-title
          Struggling to declutter?<br>
          Take the sustainable wardrobe challenge
        %p.banner-text
          We show you how to declutter and take back your&nbsp;wardrobe in easy&nbsp;steps
        %p.banner-text
          Get ready for a new sustainable wardrobe and a new&nbsp;you
        .button-container
          = link_to("/blog/the_wardrobe_challenge", :class => "hp-button hp-button-standard") do
            Take the challenge now

  .tips-container#quick-tips
    %h2
      Quick tips to declutter faster
    =render :partial => "logged_out_homepage/carousel", :locals => {carousel_id: "tips"}

    %p
    = link_to("https://instagram.com/neverbeenwornuk", :class => "follow-insta", :target => "_blank") do
      Find us on instagram 
      %span.instagram
        = render 'layouts/footer/social_icons', social_service: "instagram"
        neverbeenwornuk

  .seasonal-articles-container
    .seasonal-articles
      %h2
        Declutter and resell with our declutter 1&nbsp;-&nbsp;2&nbsp;-&nbsp;3
      .seasonal-articles-columns
        .seasonal-articles-column
          %p.step-number
            Step 1
          = link_to("/en/blog/the_wardrobe_challenge") do
            -image_url = image_path("blog/wardrobe-challenge/choosing-clothes.jpg")
            =image_tag(image_url, alt: "Read how to take the wardrobe challenge.")
          %h3.seasonal-articles-title
            Fix your wardrobe
          %p.seasonal-articles-text
            From wardrobe nightmare to declutter heaven
          .story-button-container
            = link_to("/en/blog/the_wardrobe_challenge", :class => "about-button hp-button hp-button-inverted") do
              Start now
        .seasonal-articles-column
          %p.step-number
            Step 2
          = link_to("/en/blog/fix_your_drawers_forever") do
            -image_url = image_path("logged_out_homepage/overflowing-drawers-square.jpg")
            =image_tag(image_url, alt: "Read how to fix your overflowing drawers.")
          %h3.seasonal-articles-title
            Fix your drawers
          %p.seasonal-articles-text
            No more nightmare drawers
          .story-button-container
            = link_to("/en/blog/fix_your_drawers_forever", :class => "about-button hp-button hp-button-inverted") do
              Start now
        .seasonal-articles-column
          %p.step-number
            Step 3
          = link_to("/en/blog/get_your_messy_shelves_in_shape") do
            -image_url = image_path("blog/messy-shelves/messy-shelf-tops-and-jeans.jpg")
            =image_tag(image_url, alt: "Read how to organise your messy shelves.")
          %h3.seasonal-articles-title
            Fix your shelves
          %p.seasonal-articles-text
            Get your shelves in shape
          .story-button-container
            = link_to("/en/blog/get_your_messy_shelves_in_shape", :class => "about-button hp-button hp-button-inverted") do
              Start now

