- content_for :title_container_class do
  = "logged-out-homepage"

- content_for :title_header do
  %h1.logged-out-homepage
    Buy and Sell Never Been Worn Fashion

- content_for :footer_attribution do
  Images by
  =link_to "https://www.freepik.com/free-photo/attractive-stylish-smiling-woman-choosing-apparel-clothing-store_10686399.htm", target: '_blank' do
    marymarkevich,
  =link_to "https://www.freepik.com/free-photo/modern-woman-denim-jacket-white-pants-looking-away-outside-wavy-haired-woman-with-red-lips-with-handbag-posing-near-stairs_13320296.htm", target: '_blank' do
    lookstudio,
  and
  =link_to "https://www.freepik.com/free-photo/close-up-hand-holding-smartphone_20825569.htm", target: '_blank' do
    Freepik
  on Freepik

- content_for :page_article_class do
  = "no-padding-bottom"
- content_for :page_wrapper_class do
  = "no-min-width"
- content_for :page_specific_css do
  /%link{:rel => "stylesheet", :href => "/assets/thirdparty/slick-slider/slick.css", :media => "print", :onload => "this.media='all'"}
  /%link{:rel => "stylesheet", :href => "/assets/thirdparty/slick-slider/slick-theme.css", :media => "print", :onload => "this.media='all'"}

  %link{:rel => "stylesheet", :type => "text/css", :href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}

  / temp
  :css
    span.ShopButton_background { background-color: #783676; }
    span.AddNewListingButton_background {background-color: #783676; }

- content_for :title do
  = "Welcome to NeverBeenWorn"
- content_for :meta_description do
  = "Never Worn It? Why Keep It? Declutter, re-sell, repurpose"

- content_for :extra_javascript do
  %script{:type => "text/javascript", :src => "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
  :javascript
    $(".tips-carousel").slick( {
      centerMode: true,
      centerPadding: '2px',
      variableWidth: true,
      dots: true
    });
    $(".carousel-hide").removeClass("carousel-hide");

.logged_out_homepage 

  .quick-guide-container#quick-guide
    %h2.logged-out-homepage
      Build a better wardrobe that’s perfect for you
    .quick-guide
      .guide-columns
        .guide-column
          = link_to("/blog/the_wardrobe_challenge") do
            .guide-column-content
              %p.step-number
                Step 1
              -image_url = image_path("logged_out_homepage/holding-red-dress.jpg")
              =image_tag(image_url, class: 'step_img', alt: "A lady holds a red dress triumphantly having chosen to sell it because she never wears it.")
              %p.step-title
                Never worn it?
              %p.step-description
                Why keep it?
                %br
                Sell It
          = link_to("/en/listings/new", :class => "hp-button hp-button-inverted guide-button mobile-only") do
            Join us
        .guide-column
          = link_to("/blog/sustainability_the_right_choice") do
            .guide-column-content
              %p.step-number
                Step 2
              -image_url = image_path("logged_out_homepage/unboxing.jpg")
              =image_tag(image_url, class: 'step_img', alt: "A lady sits on a sofa opening a cardboard box. She is looking into the box and smiling.")
              %p.step-title
                Resell it
              %p.step-description
                Put it back out into the world for others to buy
          = link_to("/en/listings/new", :class => "hp-button hp-button-inverted guide-button") do
            Join us
        .guide-column
          = link_to("/s") do
            .guide-column-content
              %p.step-number
                Step 3
              -image_url = image_path("logged_out_homepage/capsule-wardrobe.jpg")
              =image_tag(image_url, class: 'step_img', alt: "A capsule wardrobe consisting of a few colourful pieces of clothing that could be worn in different combinations with each other.")
              %p.step-title
                Keep what you love
              %p.step-description
                Build a better wardrobe for you
          = link_to("/en/listings/new", :class => "hp-button hp-button-inverted guide-button mobile-only") do
            Join us

  .wardrobe-challenge-section
    .wardrobe-challenge-image
      .image-container
        -image_url = image_path("logged_out_homepage/stylish-on-staircase.jpg")
        =image_tag(image_url, class: 'intro-image', alt: "A lady peeks through her messy clothes rail with a happy expression on her face, perhaps looking forward to a good decluttering session.")
    .caption
      .caption-container
        %h2.banner-title
          Get your wardrobe ready for autumn/winter
        %p.banner-text
          With my top 5 quick fixes
        %p.banner-text
          they’re super quick
        .button-container
          = link_to("en/blog/top_5_fixes_for_autumn", :class => "hp-button hp-button-standard") do
            Top 5 fixes

  .tips-container
    .tips
      %h3.banner-category
        Build better
      %h2
        Winter sun guides - to keep you stylish and organised no matter where you go
      =render :partial => "logged_out_homepage/carousel", :locals => {carousel_id: "tips"}

  .seasonal-articles-container
    .seasonal-articles
      %h2
        Need a little extra help? Try our 3 step total declutter
      .seasonal-articles-columns
        .seasonal-articles-column
          %p.step-number
            Step 1
          = link_to("/en/blog/the_wardrobe_challenge") do
            -image_url = image_path("blog/wardrobe-challenge/choosing-clothes.jpg")
            =image_tag(image_url, alt: "Read how to take the wardrobe challenge.")
          %h3.seasonal-articles-title
            Fix your wardrobe
          %p.seasonal-articles-text
            From wardrobe nightmare to organised heaven
          .story-button-container
            = link_to("/en/blog/the_wardrobe_challenge", :class => "about-button hp-button hp-button-inverted") do
              Start now
        .seasonal-articles-column
          %p.step-number
            Step 2
          = link_to("/en/blog/fix_your_drawers_forever") do
            -image_url = image_path("logged_out_homepage/overflowing-drawers-square.jpg")
            =image_tag(image_url, alt: "Read how to fix your overflowing drawers.")
          %h3.seasonal-articles-title
            Fix your drawers
          %p.seasonal-articles-text
            Say no to your nightmare drawers
          .story-button-container
            = link_to("/en/blog/fix_your_drawers_forever", :class => "about-button hp-button hp-button-inverted") do
              Start now
        .seasonal-articles-column
          %p.step-number
            Step 3
          = link_to("/en/blog/get_your_messy_shelves_in_shape") do
            -image_url = image_path("blog/messy-shelves/messy-shelf-tops-and-jeans.jpg")
            =image_tag(image_url, alt: "Read how to organise your messy shelves.")
          %h3.seasonal-articles-title
            Fix your shelves
          %p.seasonal-articles-text
            Get your shelves in perfect shape
          .story-button-container
            = link_to("/en/blog/get_your_messy_shelves_in_shape", :class => "about-button hp-button hp-button-inverted") do
              Start now

  .sustainability-banner
    = link_to("/blog/sustainability_the_right_choice", :class => "sustainability-banner-link") do
      .caption
        %h2.banner-title
          We are an ethical marketplace supporting sustainable fashion
        -# .button-container
        -#   = link_to("/blog/sustainability_the_right_choice", :class => "hp-button hp-banner-button") do
        -#     Why sustainable fashion
      -image_url = image_path("logged_out_homepage/declutter-cycle.jpg")
      =image_tag(image_url, class: 'intro-image', alt: "A simplistic landscape scene with rolling hills, trees and wind turbines drawn with childlike shapes.")


