- content_for :title_header do
  %h1.logged-out-homepage
    Sell and Support Sustainable Fashion

- content_for :footer_attribution do
  Images by
  =link_to "https://www.freepik.com/free-photo/attractive-stylish-smiling-woman-choosing-apparel-clothing-store_10686399.htm", target: '_blank' do
    marymarkevich,
  =link_to "https://www.freepik.com/free-photo/beautiful-female-with-happy-expression-looking-through-her-clothes-being-glad-choose-outfit-by-herself-glad-woman-looking-through-clothing-closet-having-positive-look-posing-fitting-room_9439036.htm", target: '_blank' do
    wayhomestudio,
  and
  =link_to "https://www.freepik.com/free-photo/close-up-hand-holding-smartphone_20825569.htm", target: '_blank' do
    Freepik
  on Freepik

- content_for :page_article_class do
  = "no-padding-bottom"
- content_for :page_wrapper_class do
  = "no-min-width"
- content_for :page_specific_css do
  /%link{:rel => "stylesheet", :href => "/assets/thirdparty/slick-slider/slick.css", :media => "print", :onload => "this.media='all'"}
  /%link{:rel => "stylesheet", :href => "/assets/thirdparty/slick-slider/slick-theme.css", :media => "print", :onload => "this.media='all'"}

  %link{:rel => "stylesheet", :type => "text/css", :href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}
  / temp
  :css
    span.ShopButton_background { background-color: #783676; }
    span.AddNewListingButton_background {background-color: #783676; }

- content_for :title do
  = "Welcome to NeverBeenWorn"
- content_for :meta_description do
  = "Never Worn It? Why Keep It? Declutter, re-sell, repurpose"

- content_for :extra_javascript do
  %script{:type => "text/javascript", :src => "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
  :javascript
    $(".tips-carousel").slick( {
      centerMode: true,
      centerPadding: '2px',
      variableWidth: true,
      dots: true
    });
    $(".carousel-hide").removeClass("carousel-hide");

.logged_out_homepage 

  .banner
    .caption
      %h2.banner-title<
        Never
        %span.hardlyEver>
          &nbsp;
        Worn It?
        <br>
        Why Keep It?
        <br>
        Sell It.
      %p.banner-text
        Declutter, make money, and elevate your life
      .button-container
        = link_to("/signup", :class => "hp-button hp-banner-button") do
          Join for free
    -image_url = image_path("logged_out_homepage/holding-orange-red-dresses.jpg")
    =image_tag(image_url, class: 'intro-image', alt: "A lady holds two new dresses as if choosing which to wear.")

  .quick-guide-container
    .quick-guide
      %h2.so-simple
        It's simple to sell
      
      .guide-columns
        .guide-column
          .guide-column-content
            -image_url = image_path("logged_out_homepage/taking-photo-of-jumper.jpg")
            =image_tag(image_url, class: 'step_img', alt: "Person with a smartphone taking a photo of a cosy grey v-necked jumper.")
            %p.step-number
              1
            %p.step-description
              list your item for free
        .guide-column
          .guide-column-content
            -image_url = image_path("logged_out_homepage/unboxing.jpg")
            =image_tag(image_url, class: 'step_img', alt: "A lady sits on a sofa opening a cardboard box. She is looking into the box and smiling.")
            %p.step-number
              2
            %p.step-description
              sell it and send it
        .guide-column
          .guide-column-content
            -image_url = image_path("logged_out_homepage/make-it-rain.jpg")
            =image_tag(image_url, class: 'step_img', alt: "A lady smiles as she holds a stack of bank notes in each hand while more bank notes rain down from above.")
            %p.step-number
              3
            %p.step-description
              and bank the cash!
    
      = link_to("/signup", :class => "hp-button hp-button-inverted") do
        Join for free

  .sustainability-banner
    .caption
      %h2.banner-title
        Support
        %br
        Sustainable Fashion For&nbsp;Good
      %p.banner-text
        Declutter, Resell, Repurpose
        %br
        Put your Never Been Worn clothes back out into the world
      .button-container
        = link_to("/blog/sustainability_the_right_choice", :class => "hp-button hp-banner-button") do
          Read more
    -image_url = image_path("logged_out_homepage/earth-heart-dark-background.jpg")
    =image_tag(image_url, class: 'intro-image', alt: "A simplistic landscape scene with rolling hills, trees and wind turbines drawn with childlike shapes.")

  .wardrobe-challenge-section
    .wardrobe-challenge-image
      .image-container
        -image_url = image_path("logged_out_homepage/peeking-through-clothes.jpg")
        =image_tag(image_url, class: 'intro-image', alt: "A lady peeks through her messy clothes rail with a happy expression on her face, perhaps looking forward to a good decluttering session.")
    .caption
      .caption-container
        %h2.banner-title
          Struggling to declutter?<br>
          Take the wardrobe challenge
        %p.banner-text
          We show you how to declutter and take back your&nbsp;wardrobe in easy&nbsp;steps
        %p.banner-text
          Get ready for a new wardrobe and a new&nbsp;you
        .button-container
          = link_to("/blog/the_wardrobe_challenge", :class => "hp-button hp-button-standard") do
            Take the challenge now

  .seasonal-articles-container
    .seasonal-articles
      %h2
        Declutter repurpose resell with our declutter 1&nbsp;-&nbsp;2&nbsp;-&nbsp;3
      .seasonal-articles-columns
        .seasonal-articles-column
          %h3.seasonal-articles-title
            Wardrobe
          %p.step-number
            1
          = link_to("/en/blog/the_wardrobe_challenge") do
            -image_url = image_path("blog/wardrobe-challenge/choosing-clothes.jpg")
            =image_tag(image_url, alt: "Read how to take the wardrobe challenge.")
          %p.seasonal-articles-text
            From wardrobe nightmare to declutter heaven
          .story-button-container
            = link_to("/en/blog/the_wardrobe_challenge", :class => "about-button hp-button hp-button-inverted") do
              Read how
        .seasonal-articles-column
          %h3.seasonal-articles-title
            Drawers
          %p.step-number
            2
          = link_to("/en/blog/fix_your_drawers_forever") do
            -image_url = image_path("blog/fix-your-drawers-forever/overflowing-drawers.jpg")
            =image_tag(image_url, alt: "Read how to fix your overflowing drawers.")
          %p.seasonal-articles-text
            Nightmare drawers no more
          .story-button-container
            = link_to("/en/blog/fix_your_drawers_forever", :class => "about-button hp-button hp-button-inverted") do
              Read how
        .seasonal-articles-column
          %h3.seasonal-articles-title
            Shelves
          %p.step-number
            3
          = link_to("/en/blog/get_your_messy_shelves_in_shape") do
            -image_url = image_path("blog/messy-shelves/messy-shelf-tops-and-jeans.jpg")
            =image_tag(image_url, alt: "Read how to organise your messy shelves.")
          %p.seasonal-articles-text
            Get your shelves in shape
          .story-button-container
            = link_to("/en/blog/get_your_messy_shelves_in_shape", :class => "about-button hp-button hp-button-inverted") do
              Read how

  .tips-container
    %h2
      Quick tips to declutter faster
    =render :partial => "logged_out_homepage/carousel", :locals => {carousel_id: "tips"}

    %p
    = link_to("https://instagram.com/neverbeenwornuk", :class => "follow-insta", :target => "_blank") do
      Find us on instagram 
      %span.instagram
        = render 'layouts/footer/social_icons', social_service: "instagram"
        neverbeenwornuk
