- content_for :title do
  = t('admin2.manage_transactions.show_transaction')

- pr = @transactions_presenter
- transaction = pr.transaction
- listing_title = transaction.listing_title || t('admin.communities.transactions.not_available')
- link = link_to_unless(transaction.listing.deleted, listing_title, listing_path(transaction.listing_id)) || listing_title
- transaction_title = t('admin2.manage_transactions.transaction_for', link: link, transaction_id: transaction.id).html_safe

.content-card-header
  = link_to t('admin2.manage_transactions.back_to_list'), admin2_transactions_reviews_manage_transactions_path(direction: :desc, sort: :last_activity), class: %i[content-card-header-title]

.content-card-section-container
  %section.content-card-section
    %h2
      = transaction_title
    = render 'header', pr: pr
    = render 'status', transaction: transaction
    - if pr.show_next_step? || pr.shipping? || pr.pickup?
      = render 'next_steps', pr: pr, transaction: transaction, listing_title: listing_title

%section.transaction-payment-breakdown
  .payment-breakdown-wrapper
    %h2= t('admin2.manage_transactions.payment_breakdown')
    = render 'buyer_pays', pr: pr, transaction: transaction
    = render 'seller_receives', pr: pr, transaction: transaction
    = render 'marketplace_receives', pr: pr
    - if pr.link_payment.present?
      %br
      = link_to pr.text_link_payment, pr.link_payment, class: %i[external-link], target: :_blank
    - if pr.show_commission_info?
      %div
        = t('admin2.manage_transactions.commission_info', url: 'https://help.sharetribe.com/en/articles/673554').html_safe

%section.transaction-conversation
  .conversation-wrapper
    %h2= t('admin2.manage_transactions.timeline_and_conversation', count: transaction.conversation&.messages&.size.to_i)
    = render partial: 'message', collection: pr.messages_and_actions, as: :message_or_action, locals: { starter: pr.buyer }

%section.conversations-with-participants
  .conversation-wrapper
    - buyer_name = PersonViewUtils.person_display_name(transaction.starter, transaction.community)
    %h2= t('admin2.manage_transactions.conversations_with_buyer', buyer_name: buyer_name, count: pr.conversations_with_buyer&.size.to_i)

    - if pr.conversations_with_buyer.present?
      .link_to_new_message
        = link_to t('admin2.manage_transactions.new_conversation', other_party: buyer_name), new_person_person_message_path(pr.buyer)
      = render partial: 'conversation', collection: pr.conversations_with_buyer, as: :conversation, locals: {starter: pr.buyer}
    - else
      %p= t('admin2.manage_transactions.no_conversations_with', other_party: buyer_name)
      = link_to t('admin2.manage_transactions.new_conversation', other_party: buyer_name), new_person_person_message_path(pr.buyer)

  .conversation-wrapper
    - seller_name = PersonViewUtils.person_display_name(transaction.author, transaction.community)
    %h2= t('admin2.manage_transactions.conversations_with_seller', seller_name: seller_name, count: pr.conversations_with_seller&.size.to_i)
    
    - if pr.conversations_with_seller.present?
      .link_to_new_message
        = link_to t('admin2.manage_transactions.new_conversation', other_party: seller_name), new_person_person_message_path(pr.provider)
      = render partial: 'conversation', collection: pr.conversations_with_seller, as: :conversation, locals: { starter: pr.provider }
    - else
      %p= t('admin2.manage_transactions.no_conversations_with', other_party: seller_name)
      = link_to t('admin2.manage_transactions.new_conversation', other_party: seller_name), new_person_person_message_path(pr.provider)


- content_for :popup_layout do
  = render 'mark_as_completed_popup', transaction: transaction
  = render 'dispute_popup', transaction: transaction
  = render 'mark_as_refunded_popup', transaction: transaction
  = render 'dismiss_and_payout_popup', transaction: transaction
