-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }

- content_for :extra_javascript do
  :javascript
    // show the info icons only when this script is initiated
    var elems = document.querySelectorAll("button.hidden");
    [].forEach.call(elems, function(el) {
        el.classList.remove("hidden");
    });

    // click event for the buttons
    document.querySelectorAll('button').forEach(bttn=>bttn.addEventListener('click',function(e){
      // change the icon between up and down
      e.target.classList.toggle('icon-caret-down');
      e.target.classList.toggle('icon-caret-up');

      // show or hide the row below (or 2 below because of my hidden row hack for styling)
      let col=[...document.querySelectorAll('tr')];
      let tr=this.parentNode.parentNode;
      let index=col.indexOf( tr ) + 2;
      col[index].classList.toggle('hidden');
    }));

.blog-article
  %h2.article-title="How to buy a protective summer hat"
  %p.published-date
    July 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-text
      .article-image.aspect-4-5
        -image_url = image_path("blog/summer-hat-for-protection/bucket-hat.jpg")
        =image_tag(image_url, alt: "A woman wearing a bucket hat to protect herself from the sun, along with an aztec-patterned summer shirt over a white vest top, looks pensively into the middle distance.")
        %figcaption
          Photo by
          =link_to('m fooladi', 'https://www.pexels.com/photo/a-portrait-of-a-young-woman-in-a-bucket-hat-12255807')
          on Pexels

      %p
        We instantly think about sunglasses and sunscreen whenever the sun is out but do you ever think you might be missing something else important?
        Any exposure to the sun can cause some short-term damage to your delicate skin, but if you are not careful during prolonged exposure,
        it can turn into long-term damage and premature ageing too.

      %p
        Summer hats are now becoming more and more important as a vital piece of protection for your head and delicate face area,
        especially in increased heat on holiday.
        So why are many still regarding it as an after-thought or something to be avoided completely.
        Do you leave checking if you have a summer hat to the last-minute or do you even avoid it altogether?
        Why is it that a summer hat is always such an afterthought for most people or even an absolute no-go area for others?

      %p
        Do you feel confident enough to choose the right summer hat and wear it?
        If you don’t then there is no need to panic or give up looking for your perfect hat just yet.
        So, lets take a look at how to fix that, before you give up altogether.
  

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Summer hats - finding the right amount of sun protection

      .article-image.aspect-2-3
        -image_url = image_path("blog/summer-hat-for-protection/wide-brimmed-hat.jpg")
        =image_tag(image_url, alt: "A woman wearing a black swimming costume and holding the brim of a very wide-brimmed straw hat over her face.")
        %figcaption
          Photo by
          =link_to('Valentin Lacoste', 'https://unsplash.com/photos/CJCH8oNIBvI')
          on Unsplash

      %p
        Buying a hat for sun protection is always slightly different to buying one to compliment your summer wardrobe.
        The perfect summer hat can offer you the right amount of protection and instantly take your wardrobe up a level, but only if you choose the right one for you.
        Choose the wrong hat and you could end up looking more flustered in the hot sun than looking summer cool.
        A bad summer hat can leave you with little or no protection at all and be a real flop at the beach altogether.
        For example, some hats can leave you thinking you are fully UV protected when you are actually not.

      %p
        If you are looking for a hat with the right amount of protection for you and your needs,
        then it’s a good idea to think about investing in a good quality summer hat from the start,
        as a general rule the more cover and shade you need over your body, the bigger the brim of the hat should be. 

      %h3
        Key body areas to cover

      %p
        The main thing to consider is how much cover and protection you need and where.
        There are six main areas that usually require cover and protection from a sun hat.
        These are grouped as follows: your head, your face and ears, your neck, your shoulders, and upper back.
        You should be receiving even and ample coverage in these areas from any good sun hat.

      %p
        If you just looking for protection on your face and neck then you can probably look at something with a much smaller brim,
        but if you need to cover your shoulder and upper back, then you may need a much wider circumference of shade and therefore a much bigger brim on your hat.
        There should be absolutely no sun getting through your hat to your head, face and ears, neck, shoulders, or upper back either.
        
      %p
        Here are some great pointers to get you started and thinking in the right direction:

  .article-section

    .quick-guide-container.quick-guide-infographic
      %h3.quick-guide-title
        4 Top points to think about when buying a summer hat for protection
      %ul
        %li
          %h4
            Brim
          %p
            Smaller brims can offer less protection
        %li
          %h4
            Head
          %p
            Too tight or too loose and it can be a little uncomfortable
        %li
          %h4
            Material
          %p
            Cotton or straw are best
        %li
          %h4
            Cover
          %p
            Face, ears, head, neck, and shoulders

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h2
        Choosing the right kind of sun hat

      .article-image.aspect-2-3
        -image_url = image_path("blog/summer-hat-for-protection/straw-hat-poolside.jpg")
        =image_tag(image_url, alt: "Sitting by the side of a pool wearing a straw hat and light long-sleeved shirt for sun protection.")
        %figcaption
          Photo by
          =link_to('Angelo Pantazis', 'https://unsplash.com/photos/h0AnGGgseio')
          on Unsplash

    .article-text
      %p
        There are also four key components that you should look at when choosing the right kind of hat for good sun protection.
        These are the fit around the head, the circumference of shade, the material and weave, and UV protection.

      %h3
        Head cover
      %p
        How your hat fits is very important. The hat with the right fit should be working with you, not against you.
        It should fit comfortably on your head and at your desired angle.
        It should not be too tight or too loose and you should be able to wear it all day without any trouble or need to readjust all the time.
        If you find yourself messing about with it all day, then it is not the right hat for you.
        You are more likely to give up wearing it altogether and lose your protection if it feels uncomfortable and constantly needs adjusting. 

      %h3
        Circumference of shade

      %p
        To ensure you have optimum protection, the brim of your hat should block out the sun completely and let no light pass through its material.
        Try holding it up to the light to be sure.
        There should be no light coming through.
        The right size brim will also cast enough shade on the areas that you most want to protect from the sun.
        So always check that the circumference of shade extends to incorporate those key areas in need of coverage.
        If you want to cover just your face, ears and neck then you may only need a small to medium sized brim,
        but if you need to cover your shoulders and upper back as well, then you will need a larger brim that expands outwards past your shoulder width and upper back.

      %h3 
        Material and weave

      %p
        One of the important factors to consider when choosing a good summer hat is the material.
        The amount of protection you receive is dependent on the type of material and the quality of the fabric that it is made of. 
        If you are planning to go away the weather is likely to be much hotter,
        so the material needs to be of a tightly woven fabric for optimum protection from those stronger rays.
        A breathable fabric is also important so you don't overheat in the hotter sun.
        The material should be light enough to keep you cool but thick enough to keep you protected.
        You might want to reconsider anything made of wool or felt here.
        These could easily ensure you overheat.
        A good option is a good strong straw hat or a heavy-duty cotton one, which can be easy to pack and take away on holiday.

      %h3
        UV Protection

      %p
        Hats have come a long way in the past few years and some even carry a protection rating similar to sunscreen.
        The rating is referred to as UPF and is generally used on clothes.
        If you look for the UPF rating it will help you pick the right hat with the desired amount of protection for your needs.
        UPF50+ is a good level to look for.

      %p
        I recently visited a popular tourist attraction on a nice sunny day and had a look at all the types of hats people were wearing.
        There was quite a selection, so I have taken the top 8 most popular hats that I saw and provided details on their average coverage.
        I rated them all for quality of coverage and gave them a score out of 10.
        But remember these are a guide and it is important to do some more research to determine what is going to work for you and your individual protection needs.
        I found the best way is to physically go and try them all on, to see what you really think.

      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th.style{:rowspan => "2", :colspan=>"1"}
              Style
            %th.coverage{:rowspan => "1", :colspan=>"5"}
              Coverage
            %th.coverage-overall{:rowspan => "2", :colspan=>"1"}
              Coverage
            %th.material{:rowspan => "2", :colspan=>"1"}
              Material
            %th.rating{:rowspan => "2", :colspan=>"1"}
              Rating
          %tr.coverage-heading
            %th
              Head
            %th
              Face
            %th
              Ears
            %th
              Neck
            %th
              Shoulder
        %tbody
          %tr
            %td.hat-style Fedora
            %td.coverage.head.good ★★
            %td.coverage.face.good ★★
            %td.coverage.ears.good ★★
            %td.coverage.neck.good ★★
            %td.coverage.shoulders.none -
            %td.coverage.overall.good
              ★★
            %td.coverage.material.good ★★
            %td.rating
              %span.score 7
              %span.total /10
              %button.show-more.hidden{:type => "button", :title => "show the breakdown of ratings", :'aria-label' => "show the breakdown of ratings"}
                = icon_tag("dropdown")
          %tr.empty-so-the-odd-even-still-works{:style=>"display:none"}
          %tr.coverage-details.hidden
            %td{:colspan => "4", :style => "border-top-right-radius: 0px; border-top-left-radius: 0;"}
              %p
                Protection rating is based on the material and the coverage scores of these areas:
              %div.mobile-coverage-scores
                %span.score
                  Head: ★★
                %span.score
                  Face: ★★
                %span.score
                  Ears: ★★
                %span.score
                  Neck: ★★
                %span.score
                  Shoulders: none
          %tr
            %td.hat-style Bucket hat
            %td.coverage.head.good ★★
            %td.coverage.face.good ★★
            %td.coverage.ears.good ★★
            %td.coverage.neck.ok ★
            %td.coverage.shoulders.none -
            %td.coverage.overall.good ★★
            %td.coverage.material.great ★★★
            %td.rating
              %span.score 7
              %span.total /10
              %button.show-more.hidden{:type => "button", :title => "show the breakdown of ratings", :'aria-label' => "show the breakdown of ratings"}
                = icon_tag("dropdown")
          %tr.empty-so-the-odd-even-still-works{:style=>"display:none"}
          %tr.coverage-details.hidden
            %td{:colspan => "4", :style => "border-top-right-radius: 0px; border-top-left-radius: 0;"}
              %p
                Protection rating is based on the material and the coverage scores of these areas:
              %div.mobile-coverage-scores
                %span.score
                  Head: ★★
                %span.score
                  Face: ★★
                %span.score
                  Ears: ★★
                %span.score
                  Neck: ★
                %span.score
                  Shoulders: none
          %tr
            %td.hat-style Baseball
            %td.coverage.head.good ★★
            %td.coverage.face.great ★★★
            %td.coverage.ears.none -
            %td.coverage.neck.none -
            %td.coverage.shoulders.none -
            %td.coverage.overall.ok ★
            %td.coverage.material.good ★★
            %td.rating
              %span.score 5
              %span.total /10
              %button.show-more.hidden{:type => "button", :title => "show the breakdown of ratings", :'aria-label' => "show the breakdown of ratings"}
                = icon_tag("dropdown")
          %tr.empty-so-the-odd-even-still-works{:style=>"display:none"}
          %tr.coverage-details.hidden
            %td{:colspan => "4", :style => "border-top-right-radius: 0px; border-top-left-radius: 0;"}
              %p
                Protection rating is based on the material and the coverage scores of these areas:
              %div.mobile-coverage-scores
                %span.score
                  Head: ★★
                %span.score
                  Face: ★★★
                %span.score
                  Ears: none
                %span.score
                  Neck: none
                %span.score
                  Shoulders: none
          %tr
            %td.hat-style Boater
            %td.coverage.head.good ★★
            %td.coverage.face.good ★★
            %td.coverage.ears.good ★★
            %td.coverage.neck.ok ★
            %td.coverage.shoulders.none -
            %td.coverage.overall.good ★★
            %td.coverage.material.good ★★
            %td.rating
              %span.score 7
              %span.total /10
              %button.show-more.hidden{:type => "button", :title => "show the breakdown of ratings", :'aria-label' => "show the breakdown of ratings"}
                = icon_tag("dropdown")
          %tr.empty-so-the-odd-even-still-works{:style=>"display:none"}
          %tr.coverage-details.hidden
            %td{:colspan => "4", :style => "border-top-right-radius: 0px; border-top-left-radius: 0;"}
              %p
                Protection rating is based on the material and the coverage scores of these areas:
              %div.mobile-coverage-scores
                %span.score
                  Head: ★★
                %span.score
                  Face: ★★
                %span.score
                  Ears: ★★
                %span.score
                  Neck: ★
                %span.score
                  Shoulders: none
          %tr
            %td.hat-style Kettle brim
            %td.coverage.head.great ★★★
            %td.coverage.face.great ★★★
            %td.coverage.ears.great ★★★
            %td.coverage.neck.great ★★★
            %td.coverage.shoulders.good ★★
            %td.coverage.overall.great ★★★
            %td.coverage.material.great ★★★
            %td.rating
              %span.score 10
              %span.total /10
              %button.show-more.hidden{:type => "button", :title => "show the breakdown of ratings", :'aria-label' => "show the breakdown of ratings"}
                = icon_tag("dropdown")
          %tr.empty-so-the-odd-even-still-works{:style=>"display:none"}
          %tr.coverage-details.hidden
            %td{:colspan => "4", :style => "border-top-right-radius: 0px; border-top-left-radius: 0;"}
              %p
                Protection rating is based on the material and the coverage scores of these areas:
              %div.mobile-coverage-scores
                %span.score
                  Head: ★★★
                %span.score
                  Face: ★★★
                %span.score
                  Ears: ★★★
                %span.score
                  Neck: ★★★
                %span.score
                  Shoulders: ★★
          %tr
            %td.hat-style Panama
            %td.coverage.head.good ★★
            %td.coverage.face.good ★★
            %td.coverage.ears.good ★★
            %td.coverage.neck.ok ★
            %td.coverage.shoulders.none -
            %td.coverage.overall.good ★★
            %td.coverage.material.great ★★★
            %td.rating
              %span.score 7
              %span.total /10
              %button.show-more.hidden{:type => "button", :title => "show the breakdown of ratings", :'aria-label' => "show the breakdown of ratings"}
                = icon_tag("dropdown")
          %tr.empty-so-the-odd-even-still-works{:style=>"display:none"}
          %tr.coverage-details.hidden
            %td{:colspan => "4", :style => "border-top-right-radius: 0px; border-top-left-radius: 0;"}
              %p
                Protection rating is based on the material and the coverage scores of these areas:
              %div.mobile-coverage-scores
                %span.score
                  Head: ★★
                %span.score
                  Face: ★★
                %span.score
                  Ears: ★★
                %span.score
                  Neck: ★
                %span.score
                  Shoulders: none
          %tr
            %td.hat-style Cowboy
            %td.coverage.head.good ★★
            %td.coverage.face.good ★★
            %td.coverage.ears.good ★★
            %td.coverage.neck.good ★★
            %td.coverage.shoulders.ok ★
            %td.coverage.overall.good ★★
            %td.coverage.material.good ★★
            %td.rating
              %span.score 8
              %span.total /10
              %button.show-more.hidden{:type => "button", :title => "show the breakdown of ratings", :'aria-label' => "show the breakdown of ratings"}
                = icon_tag("dropdown")
          %tr.empty-so-the-odd-even-still-works{:style=>"display:none"}
          %tr.coverage-details.hidden
            %td{:colspan => "4", :style => "border-top-right-radius: 0px; border-top-left-radius: 0;"}
              %p
                Protection rating is based on the material and the coverage scores of these areas:
              %div.mobile-coverage-scores
                %span.score
                  Head: ★★
                %span.score
                  Face: ★★
                %span.score
                  Ears: ★★
                %span.score
                  Neck: ★★
                %span.score
                  Shoulders: ★
          %tr
            %td.hat-style Boonie
            %td.coverage.head.great ★★★
            %td.coverage.face.great ★★★
            %td.coverage.ears.great ★★★
            %td.coverage.neck.great ★★★
            %td.coverage.shoulders.good ★★
            %td.coverage.overall.great ★★★
            %td.coverage.material.great ★★
            %td.rating
              %span.score 10
              %span.total /10
              %button.show-more.hidden{:type => "button", :title => "show the breakdown of ratings", :'aria-label' => "show the breakdown of ratings"}
                = icon_tag("dropdown")
          %tr.empty-so-the-odd-even-still-works{:style=>"display:none"}
          %tr.coverage-details.hidden
            %td{:colspan => "4", :style => "border-top-right-radius: 0px; border-top-left-radius: 0;"}
              %p
                Protection rating is based on the material and the coverage scores of these areas:
              %div.mobile-coverage-scores
                %span.score
                  Head: ★★★
                %span.score
                  Face: ★★★
                %span.score
                  Ears: ★★★
                %span.score
                  Neck: ★★★
                %span.score
                  Shoulders: ★★

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h2
        Choose wisely

      .article-image.aspect-2-3
        -image_url = image_path("blog/summer-hat-for-protection/hat-sunset.jpg")
        =image_tag(image_url, alt: "A woman looks out at a sunset over a sea set with small islands. She is wearing a relaxed linen shirt and wide-brimmed hat.")
        %figcaption
          Photo by
          =link_to('Rachel Claire', 'https://www.pexels.com/photo/back-view-of-a-woman-overlooking-the-seascape-scenery-during-golden-hour-4577423')
          on Pexels

      %p
        Wearing a hat does not need to be daunting or a style killer, no matter what type you wear.
        Remember, the sun hat is there to add something extra to your outfit and fit your needs.
        It has a purpose and once you determine its full purpose you can start trying hats on and ultimately pick the best one for you.
        The one that you end up liking the most will be the one that you feel most comfortable wearing and the most protected.
        This is what matters the most and this will ultimately will be the one that is right for you.
        Once you find your one true hat, you will be brimming with confidence in no time and will feel protected no matter what the weather, where you go and what you do this summer.
        
      %p
        So go be that stylish lady you just saw wearing that great hat and enjoy wearing it until the sun goes down. 


  .article-footer.orange
    %h2
      Share the joy
    %p
      Have you found the perfect summer hat to protect yourself from the scorching summer sun? If it has never let you down, then share the joy! Send in a picture for my
      %span.strong
        summer wall of happiness.

    %p
      Label your email ‘Summer hat joy’ and send it in to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Summer hat joy')

    %p
      %span.strong
        I hope you and your summer hat have a fun and safe summer together, wherever you go and whatever you do!

  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
