%h1= t('error_pages.error_404.page_can_not_be_found')
%p.tagline
  = t('error_pages.error_404.tagline')
%p
  = t('error_pages.error_404.page_you_requested_can_not_be_found')
%p
  = t('error_pages.error_404.page_you_requested_can_not_be_found_2')
  %a{href: '/user_feedbacks/new'} contact us
  = t('error_pages.error_404.page_you_requested_can_not_be_found_3')

  %br/
  %br/

  %a{href: '/'}
    = t('error_pages.back_to_kassi_front_page')
