- if @listing_presenter.shape[:shipping_enabled]
  .delivery-options-container
    .delivery-row-low{style: 'display:none'}
      .delivery-checkbox
        = check_box_tag "listing[delivery_methods][]", "shipping", true, id: "shipping-checkbox", class: "delivery-method-checkbox required"
      .delivery-left-field
        = label_tag "shipping-checkbox", t("listings.form.price.shipping"), class: "shipping-options-label"
  
    .shipping-price-container.shipping-price-default
      = form.label :shipping_price, t("listings.form.price.shipping_price")
      = form.text_field :shipping_price, class: "price-field", maxlength: 10, placeholder: 0, value: @listing_presenter.shipping_price
      = render partial: "listings/form/price_currency", locals: {form: form}
