%script{ type: 'application/ld+json' }
  :plain
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "#{ content_for(:meta_article_headline) }",
      "image": [
        "#{ content_for(:meta_article_image_1) }",
        "#{ content_for(:meta_article_image_2) }"
       ],
      "datePublished": "#{ content_for(:meta_article_date_published) }",
      "dateModified": "#{ content_for(:meta_article_date_modified) }",
      "author": [{
          "@type": "Oragnization",
          "logo": "https://neverbeenworn.co.uk/system/logos/1/original/nbw-large-favicon.png?1649778673",
          "slogan": "Helping the planet by reselling your fashion",
          "name": "neverbeenworn",
          "url": "https://neverbeenworn.co.uk"
        }],
      "publisher": {
        "@type": "Organization",
        "name": "neverbeenworn",
        "logo": {
          "@type": "ImageObject",
          "url": "https://neverbeenworn.co.uk/system/logos/1/original/nbw-large-favicon.png?1649778673"
        }
      }
    }


-article_id = content_for(:meta_article_id)
-see_also = related_articles(article_id)
-see_also.each do |related_article|
  %meta{ :name => "og:see_also", :content => article_url(related_article)}

-tags = article_tags(article_id)
-tags.each do |tag|
  %meta{ :name => "article:tag", :content => tag}

%meta{ :name => "article:modified_time", :content => content_for(:meta_article_date_modified)}
%meta{ :name => "article:published_time", :content => content_for(:meta_article_date_published)}
%meta{ :name => "article:section", :content => content_for(:article_category).strip}
