- content_for :title_container_class do
  = "blog-homepage"
- content_for :title_header do
  %h1= t("blog.blog")

- content_for :page_article_class do
  = "blog-homepage"

- content_for :title do
  = "Blog - NeverBeenWorn"
- content_for :meta_description do
  = "NeverBeenWorn is your home for a stylish life free from clutter"


.blog
  .articles-grid
    %ul.blog-articles
      -article = articles['me_time']
      -image_url = image_path("blog/me-time/relaxing-bath.jpg")
      %li.article-card{:role => "article"}
        = link_to(article_path(id=article[:id]), :class => "article-link") do
          .article-image-container
            =image_tag(image_url, class: 'article_card_image', alt: "A relaxing bath surrounded by candles, a good book and a hot drink.")
            .article-card-image-overlay
            .article-title-cta-container
              .cta-left
                %h2.article-title
                  =article[:title]
              .cta-right
                %p.article-read
                  Read
          %p.article-summary
            Kick start your new year with my relaxing ‘just for me’&nbsp;day. It’s the best way to unwind, make new plans and get yourself ready for a great year&nbsp;ahead.
            
      -article = articles['fix_your_drawers_forever']
      -image_url = image_path("blog/fix-your-drawers-forever/overflowing-drawers.jpg")
      %li.article-card{:role => "article"}
        = link_to(article_path(id=article[:id]), :class => "article-link") do
          .article-image-container
            =image_tag(image_url, class: 'article_card_image', alt: "Clothes overflow from all three drawers of a chest of drawers.")
            .article-card-image-overlay
            .article-title-cta-container
              .cta-left
                %h2.article-title
                  =article[:title]
              .cta-right
                %p.article-read
                  Read
          %p.article-summary
            From nightmare drawers to no&nbsp;more&nbsp;trouble
            
      -article = articles['too_many_scarves']
      -image_url = image_path("blog/too-many-scarves/knitted-cosy-scarves.jpg")
      %li.article-card{:role => "article"}
        = link_to(article_path(id=article[:id]), :class => "article-link") do
          .article-image-container
            =image_tag(image_url, class: 'article_card_image', alt: "Three cozy and soft woolen scarves in a pile.")
            .article-card-image-overlay
            .article-title-cta-container
              .cta-left
                %h2.article-title
                  =article[:title]
              .cta-right
                %p.article-read
                  Read
          %p.article-summary
            How I went from 18 scarves to just&nbsp;4
            
      -article = articles['the_wardrobe_challenge']
      -image_url = image_path("blog/wardrobe-challenge/choosing-clothes.jpg")
      %li.article-card{:role => "article"}
        = link_to(article_path(id=article[:id]), :class => "article-link") do
          .article-image-container
            =image_tag(image_url, class: 'article_card_image', alt: "Choosing between a plain white shirt and a white and green striped top.")
            .article-card-image-overlay
            .article-title-cta-container
              .cta-left
                %h2.article-title
                  =article[:title]
              .cta-right
                %p.article-read
                  Read
          %p.article-summary
            Take on your wardrobe, take back your time and banish that mess for good
            
      -article = articles['big_boots_how_to_wear_them']
      -image_url = image_path("blog/sitting-on-plinth-square.jpg")
      %li.article-card{:role => "article"}
        = link_to(article_path(id=article[:id]), :class => "article-link") do
          .article-image-container
            =image_tag(image_url, class: 'article_card_image', alt: "Sitting casually on the plinth of a column, wearing a mid-length brown coat, skinny ripped jeans and big black boots.")
            .article-card-image-overlay
            .article-title-cta-container
              .cta-left
                %h2.article-title
                  =article[:title]
              .cta-right
                %p.article-read
                  Read
          %p.article-summary
            Big boots are here for another autumn and winter season.
            <br>
            Here's how to choose the right pair for you
            
      -article = articles['sustainability_in_autumn']
      -image_url = image_path("blog/autumn-leaves-square.jpg")
      %li.article-card{:role => "article"}
        = link_to(article_path(id=article[:id]), :class => "article-link") do
          .article-image-container
            =image_tag(image_url, class: 'article_card_image', alt: "Bright afternoon sun shines through the autumn leaves of a young maple tree.")
            .article-card-image-overlay
            .article-title-cta-container
              .cta-left
                %h2.article-title
                  =article[:title]
              .cta-right
                %p.article-read
                  Read
          %p.article-summary
            As NeverBeenWorn goes into its first autumn, we are taking a quick moment to reflect on how far we have come
            and looking forward to the next steps in our journey through more sustainable fashion

      -article = articles['why_we_started_neverbeenworn']
      -image_url = image_path("blog/lady-in-poppy-field-square.jpg")
      %li.article-card{:role => "article"}
        = link_to(article_path(id=article[:id]), :class => "article-link") do
          .article-image-container
            =image_tag(image_url, class: 'article_card_image', alt: "A lady stands in a poppy field. She is wearing a white hat and dress, and her arms are outstretched. She is free and at peace.")
            .article-card-image-overlay
            .article-title-cta-container
              .cta-left
                %h2.article-title
                  =article[:title]
              .cta-right
                %p.article-read
                  Read
          %p.article-summary
            We all have clothes in our wardrobe that we never quite got around to wearing and can't bring ourselves to get rid of.
            <br>
            We want to help you to find a great home for them and start a little change on the way
