- content_for :title_container_class do
  = "blog-homepage"
- content_for :title_header do
  %h1= t("blog.blog")

- content_for :page_article_class do
  = "blog-homepage"

- content_for :title do
  = "Blog - NeverBeenWorn"
- content_for :meta_description do
  = "NeverBeenWorn is your home for a stylish life free from clutter"


.blog
  .articles-grid
    %ul.blog-articles

      - article = articles['declutter_me_happy']
      = render :partial => "blog/components/article_card", :locals => {:article => article}    
            
      -article = articles['declutter_your_handbags']
      = render :partial => "blog/components/article_card", :locals => {:article => article}    
            
      -article = articles['declutter_after_christmas']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
            
      -article = articles['get_your_messy_shelves_in_shape']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
            
      -article = articles['sustainability_the_right_choice']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
            
      -article = articles['me_time']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
            
      -article = articles['fix_your_drawers_forever']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
            
      -article = articles['too_many_scarves']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
            
      -article = articles['the_wardrobe_challenge']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
            
      -article = articles['big_boots_how_to_wear_them']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
            
      -article = articles['sustainability_in_autumn']
      = render :partial => "blog/components/article_card", :locals => {:article => article}

      -article = articles['why_we_started_neverbeenworn']
      = render :partial => "blog/components/article_card", :locals => {:article => article}
